<div class="row search-item" *ngFor="let search of searchResult ">
    <div class="col-sm-3">
        <a routerLink="/details/{{search.id}}">
        <img src="{{search.image}}" alt="">
        </a>
    </div>
    <div class="col-sm-8 details">
        <h5>         
            <a routerLink="/details/{{search.id}}">
            {{search.name}}
            </a>
        </h5>
        <p><b>Price:{{search.price}}</b></p>
        <p>
            <span>Color:{{search.color}}</span>
            <span>Category:{{search.category}}</span>
        </p>
        <p>{{search.description}}</p>
    </div>
</div>
